h1,  div, h4 {
  margin: 0;
  padding: 0;
}
.grey-background {
 background-color: #e2e2e2;
}
.section {
  padding: 60px 0;
  margin: 0px auto;
} 
.section-title {
  padding: 24px 0px;
  color:#181a53;
  font-weight: 600;
  text-align: center;
}

.box {
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
} 

.animate-container {
  height: 400px;
  width: 400px;
  position: relative;
  background-color: green;
}